<div>
  <h2>Files parsed: <%= @scholar.files_count %> </h2>

  <h2>Classes delegating to association: <%= @scholar.delegates_to_assoc.size %></h2>
  <div>
    <% for file in  @scholar.delegates_to_assoc %>
      <div>
        <% f = File.join("/reflexive/files", file) %>
        <%= link_to f, f %>
      </div>
    <% end %>
  </div>
  
  <h2>Classes delegating to something else: <%= @scholar.delegates.size %></h2>
  <div>
    <% for file in  @scholar.delegates %>
      <div>
        <% f = File.join("/reflexive/files", file) %>
        <%= link_to f, f %>
      </div>
    <% end %>
  </div>
</div>